.premium-breadcrumbs li {
    display: flex;
    align-items: baseline;
}

.premium-breadcrumbs li:first-of-type:not(.op-wp-breadcrumb--active-parent-select) {
    display: none;
}

.premium-breadcrumbs li a:not(:has(span)) {
    display: block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}