body {
    --gitlabInfoBorderColor: #24663b;
    --gitlabInfoBackgroundColor: #c3e6cd;
    --gitlabInfoColor: #24663b;
    --gitlabInfoBorderMergedColor: #0b5cad;
    --gitlabInfoBackgroundMergedColor: #cbe2f9;
    --gitlabInfoColorMerged: #0b5cad;
}

#gitlabInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#gitlabInfoContainer #labelContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    background-color: rgb(246 245 248);
    padding-left: 7px;
}

#gitlabInfoContainer .mr-block {
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 24px;
    border-radius: 24px;
    color: var(--gitlabInfoColor);
    background-color: var(--gitlabInfoBackgroundColor);
    text-wrap: nowrap;
    padding: 0 8px;
    cursor: pointer;
}

#gitlabInfoContainer div.search-text {
    font-size: 12px;
    display: flex;
    padding-right: 12px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 24px;
    border-radius: 24px;
    color: #999999;
}

#gitlabInfoContainer.hidden {
    opacity: 0;
}

#gitlabInfoContainer .mr-block:hover {
    background-color: color-mix(in srgb, var(--gitlabInfoBackgroundColor), var(--gitlabInfoColor) 5%);
}

#gitlabInfoContainer .mr-block.merged {
    background-color: var(--gitlabInfoBackgroundMergedColor);
    color: var(--gitlabInfoColorMerged);
}

#gitlabInfoContainer .mr-block.merged:hover {
    background-color: color-mix(in srgb, var(--gitlabInfoBackgroundMergedColor), var(--gitlabInfoColorMerged) 5%);
}