@media screen and (max-width: 1011px) {
    .main-menu {
        min-width: 1px !important;
        box-shadow: 0 0 30px black !important;
    }
}

.content-overlay {
    display: none !important;
}

body {
    --full-view-split-right-width: 570px !important;
}




.premium-align-items-center {
    align-items: center;
}

.premium-display-none {
    display: none !important;
}

.premium-toolbar-container {
    display: flex;
    flex-direction: column;
}

.premium-taskInfoRow {
    display: flex;
    gap: 10px;
}

.premium-taskNumberSpan {
    color: #999999;
    font-size: 20px;
    font-weight: 600;
    padding-top: 6px;
    line-height: 24px;
}

#premium-buttonsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.premium-btn button {
    height: 34px !important;
    display: flex !important;
    gap: 4px !important;
    align-items: center !important;
    justify-content: center !important;
    width: unset !important;
    padding: 6px 8px !important;
    border: 1px solid #dfdfdf;
    border-radius: 8px !important;
    background: #ffffff !important;
}

.premium-btn:hover button {
    background: aliceblue !important;
}

.premium-copy-btns-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1c1c1c;
}

.premium-copy-btns-last button {
    border-radius: 0 8px 8px 0 !important;
}

.premium-copy-btns-first button {
    border-radius: 8px 0 0 8px !important;
    border-right: none !important;
}

.premium-copy-btns-middle-one button {
    border-radius: 0 !important;
    border-right: none !important;
}

.premium-copy-btns-title {
    max-width: 150px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#premium-buttonsRow .button {
    margin: 0;
}

.premium-copy-btn {
    position: relative;
}

.premium-copy-btn-dropdown-content {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.premium-copy-btn-button:before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.premium-show-copy-dropdown {
    display: block;
}

.premium-dropdown-option {
    height: 24px;
    padding: 0 7px;
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.premium-dropdown-option:hover {
    background: rgba(0, 0, 0, 0.05);
}

.premium-copy-notifier {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
    background: rgb(95 197 83);
    color: white;
    font-size: 13px;
    padding: 0 8px 2px;
    border-radius: 6px;
    bottom: 35px;
}

.premium-copy-notifier-show {
    opacity: 1;
    z-index: 9999;
    bottom: 40px;
}

